<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Home</title>
</head>

<body>
    <div>
        <div class="topnav">
            <a href="{{ url_for('views.home') }}">index</a></li>
            <a href="{{ url_for('views.get_perfil') }}">perfil</a></li>
            <a href="{{ url_for('views.get_sobre') }}">sobre</a></li>
            <a href="{{ url_for('views.get_skills') }}">skills</a></li>
            <a href="{{ url_for('views.get_projetos') }}">projetos</a></li>
        </div>

        <h1>Saudações</h1>
        <hr>
        <div class="container">
        <p>Olá, {{ name }}! Bem vindo ao meu portfolio. Essa página foi criada utilizando <a href="https://flask.palletsprojects.com/en/3.0.x/">Flask</a>. Utilize o menu de navegação acima para fácil acesso as informações desejadas.</p>
        </div>

    </div>


</body>

</html>