<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Projetos</title>
</head>

<body>
    <div>
        <div class="topnav">
            <a href="{{ url_for('views.home') }}">index</a></li>
            <a href="{{ url_for('views.get_perfil') }}">perfil</a></li>
            <a href="{{ url_for('views.get_sobre') }}">sobre</a></li>
            <a href="{{ url_for('views.get_skills') }}">skills</a></li>
            <a href="{{ url_for('views.get_projetos') }}">projetos</a></li>
        </div>

        <h1>Projetos</h1>
        <hr>

        <div class="image-container">
            <img src="{{ url_for('static', filename='images/mono.png') }}" alt="Monografia">
        </div>

        <div class="container">
            <p>Trabalho de conclusão de curso com o tema: INOVAÇÃO E O MERCADO DE TRABALHO: UMA ANÁLISE PARA O BRASIL.
                Explorando diversas fontes confiáveis, foram pesquisados os indicadores do Brasil no período de estudo
                (2012 a 2017) sobre a situação do emprego no país. Algumas hipóteses se confirmaram (quanto mais alta a
                formação, maior a empregabilidade do indivíduo), outras ficaram mais claras (indivíduos com formação em
                tecnologia de ponta, como as da ciência da computação, estavam em falta no período de estudo) e outras
                preocupavam (as taxas de desemprego no país precisavam de atenção urgente). Aprendi, além das conclusões
                do trabalho, que pesquisas devem vir de fontes confiáveis e leitura infindável. O conhecimento do
                passado sempre se aplica ao presente e ao futuro. Planejo fazer uma releitura do meu trabalho
                posteriormente para reaplicar o estudo com meus conhecimentos atuais em análise de dados e machine
                learning.
                <br>
                <a href="https://drive.google.com/file/d/1kw0N5DsGVy3vswtE0N8fHVlxtHqie-lq/view?usp=sharing"
                    target="_blank">leitura aqui.</a>
            </p>
        </div>

        <hr>

        <div class="container">

            <p>Projeto de Assistente Médico desenvolvido em Python, referente à Global Solutions da FIAP, com o tema
                Inovação e Tecnologia Moldando o Futuro da Saúde: Prevenção, Automação e Precisão, com parceria da
                empresa Hapvida NotreDame Intermédica. Os alunos foram desafiados a criar uma solução que pudesse, com o
                uso da tecnologia, auxiliar na questão da saúde, principalmente seguindo as metas da ods: Redução da
                Mortalidade Materna e Infantil; Controle de Doenças Transmissíveis, Prevenção no tratamento de doenças
                não transmissíveis e Melhoria geral da saúde.<br>
                Caso o vídeo abaixo não apareça, clique <a href="https://www.youtube.com/watch?v=x7x15ckp-c4"
                    target="_blank">aqui.</a><br>

            <div class="video-container">
                <iframe width="580" height="320" src="https://www.youtube.com/embed/x7x15ckp-c4" frameborder="0"
                    allowfullscreen></iframe>
            </div>
            <br>

            Skills: Python, SQL, Conexão com banco de dados
            </p>
        </div>

        <hr>

        <div class="image-container">
            <img src="{{ url_for('static', filename='images/heartattack.png') }}" alt="Dashboard Heart Diseases">
        </div>


        <div class="container">
            <p>Estudo de caso envolvendo análise de dados sobre doenças cardíacas. Utilizando dados dos Estados Unidos,
                disponíbilizados no Kaggle, procurou-se identificar quais fatores mais colaboravam para doenças do
                coração, possibilitando saber onde agir e de que forma, para o grupo estudado. (BMI faz referencia ao
                índice de massa corporal IMC)<br>
                <a href="https://colab.research.google.com/drive/1TYXyNZJoVPT1tGd7aHB1AcMavIpLRXQv" target="_blank">Link
                    para o projeto.</a>

            </p>
            Skills: Python, Pandas, Matplotlib, sklearn, numpy

        </div>





    </div>

    </script>
</body>

</html>