<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Sobre</title>
</head>

<body>
    <div>
        <div class="topnav">
            <a href="{{ url_for('views.home') }}">index</a></li>
            <a href="{{ url_for('views.get_perfil') }}">perfil</a></li>
            <a href="{{ url_for('views.get_json') }}">#</a></li>
            <a href="{{ url_for('views.get_sobre') }}">sobre</a></li>
            <a href="{{ url_for('views.get_skills') }}">skills</a></li>
            <a href="{{ url_for('views.get_projetos') }}">projetos</a></li>
        </div>

        <h1>Olá, me chamo Matheus.</h1>
        <hr>

        <div class="container">

        <p>Sou formado em Ciências Econômicas pela Universidade Estadual de Montes Claros (Unimontes) e atualmente
            cursando Análise e Desenvolvimento de Sistemas pela Faculdade de Informática e Administração Paulista
            (FIAP). Resido em São Paulo - SP.</p>
            <hr>

        <p>Possuo facínio por números e dados, o que me levou a pesquisar sobre o mercado de trabalho ainda enquanto
            cursava economia. Logo percebi que existia tanto uma lacuna nos indivíduos no mercado de trabalho quanto na
            minha formação: faltava o conhecimento em tecnologia. Não por acaso busquei me qualificar também nessa área,
            e hoje tenho essa nova paixão pela programação e tudo que está ao seu redor: IA (como projetos da OpenAI),
            desenvolvimento, Machine Learning e até programação de jogos (um hobby antigo).
        </p>
        <hr>

        <p> Procuro combinar um pensamento criativo e um design simples e inteligente em análise de dados e desenvolvimento para
            resolver os problemas envolvendo business e tecnologia. Acredito que trabalhar em equipes é algo importante
            e que gostaria de ter sempre, pois compartilhar conhecimento e colaboração permite fazer entregas além das
            espectativas.</p>

        <p> Obrigado pela visita!</p>
        <hr>

        <p> <a href="https://github.com/matheusp94"><img src="'../static/images/github.png" alt="Github" style="width:42px;height:42px;"></a></p>

    </div>

    </div>

    </script>
</body>

</html>